/* You can add global styles to this file, and also import other style files */
/*body {*/
/*    padding: 2em;*/
/*    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;*/
/*}*/


.main-filter-div {
    display: inline-flex;
    margin: 10px 0px -40px 1000px;
    /*width: 50%;*/
    /*float :right;*/
}

.p-dropdown {
    width: 300px ;
}

.filter-div {
    width: 50%;
    margin: 2px;
}

.p-datatable .p-datatable-thead > tr > th {
    background: #f68b1e;
    color: black;
}
.p-datatable .p-sortable-column.p-highlight {
    color: #f68b1e !important;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #f68b1e !important;
}

.p-datatable .p-sortable-column:focus {
    box-shadow: inset 0 0 0 0.15rem #f68b1e;
    outline: 0 none;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: #f68b1e;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: inset 0 0 0 0.15rem #f68b1e;
    border-color: #f68b1e;
}
